@import "../../global.scss";
.portfolio{
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        font-size: 50px;
        margin-top: 20px;
    }

    ul{
        margin: 10px;
        padding: 0;
        list-style: none;
        display: flex;

        li{
            margin-right: 50px;
            margin-left: 24px;
            font-size: 15px;
            padding: 7px;

            &.active{
                background-color: crimson;
                color: white;
               // font-size: 20px;
               font-weight: bold;
            }
        }
    }
}