@import "../../global.scss";


.contact{
    background-color:bisque;
    display: flex;
    flex-direction: column;
    
   
    //margin-top: 50px;

    
    @include mobile{
        flex-direction: column;
        width: 50%;
    }

    .mailcenter{
        flex: 1;
        flex-direction: row;
        align-content: center !important; 
        justify-content: center !important;
       // margin-top: 50px;
        
        .mail{
            color: crimson;
        }

        h2{
            font-size: 20px;
            color: crimson;
        }
    
    }

    .callcenter{
        flex: 1;
        align-content: center;
        justify-content: center;
        flex-direction: row;


        .call{
            color: crimson;
        }

        h2{
            font-size: 20px;
            color: crimson;
        }

    }

    .gitcenter{
        flex: 1;
        align-content: center;
        justify-content: center;
        flex-direction: row;


        .github{
            color: crimson;

        }

        h2{
            font-size: 20px;
            color: crimson;
            a{
                text-decoration: none;
                color: inherit;
            }
        }
    }

   
}