@import "../../global.scss";


.contact{
    background-color:bisque;
    display: flex;
    flex-direction: column;
    
   
    //margin-top: 50px;

    
    @include mobile{
        flex-direction: column;
        
        align-content: center;
        justify-content: center;
        align-content: center;
    }

    .mailcenter{
        flex: 1;
        // flex-direction: row;
        align-content: center !important; 
        justify-content: center !important;
        margin-top: 50px;
        margin-left: 40px;
        text-align: center !important;

        @include mobile{
            text-align: center !important;
            margin-top: 90px;

        }
        
        .mail{
            color: crimson;
        }

        h2{
            font-size: 20px;
            color: crimson;

            @include mobile{
                font-size: 12px;
            }
        }

        
    
    }

    .callcenter{
        flex: 1;
        align-content: center;
        justify-content: center;
        // flex-direction: row;
        text-align: center !important;

        @include mobile{
            text-align: center !important;
           

        }


        .call{
            color: crimson;
        }

        h2{
            font-size: 20px;
            color: crimson;

            @include mobile{
                font-size: 12px;
            }
        }

    }

    .gitcenter{
        flex: 1;
        align-content: center;
        justify-content: center;
        // flex-direction: row;
        text-align: center !important;

        @include mobile{
            text-align: center !important;
           

        }


        .github{
            color: crimson;

        }

        h2{
            font-size: 20px;
            color: crimson;

            @include mobile{
                font-size: 12px;
            }

            a{
                text-decoration: none;
                color: inherit;
            }
        }
    }

   
}