@import "../../global.scss";


.works{
    background-color: crimson;
    justify-content: center;
    align-content: center;
    display: flex;
    position: relative;
    overflow: hidden;

   

    

    .arrow{
        position: absolute;
        height: 70px;
        cursor: pointer;
        margin-top: 250px;

        @include mobile{
            display: none;
        }

        &.Right{
            left: 100px;
            transform: rotateX(180deg);
        } 

        &.Left{
            right: 100px;
            transform: rotateY(180deg);
        }
    }

    

    .slider{
        position: absolute;
        height: 600px;
        display: flex;
        left: 0;
        transition: all 2s ease-out;
        overflow: hidden;


        @include mobile{
            flex-direction: column;
            height: 89vh;
            justify-content: center;
            //margin-bottom: -100px;
           margin: 0;
        }



        .container{
            display: flex;
            justify-content: center;
            align-content: center;
            width: 100vw;
            overflow: hidden;


            @include mobile{
                
            }

            .item{
                height: 70%;
                width: 700px;
                background-color: white;
                border-radius: 20px;
                display: flex;
                align-content: center;
                justify-content: center;
                margin-top: 100px;



                @include mobile{
                    //margin-top: 40px;
                    width: 90%;
                   // margin-bottom: -40px;
                   margin: 0;
                   height: 180px;
                   margin-bottom: 8px;
                   
                    
                }

                .left{ 
                    flex: 3;
                    //background-color: cadetblue;
                    height: 80%;
                    align-content: center;
                    justify-content: center;
                    margin-left: 20px;
                    display: flex;
                   // overflow: hidden;
                   // margin-top: 40px;

                    .leftContainer{
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        height: 100%;
                        justify-content: space-between;

                        @include mobile{
                            overflow: hidden;
                        }

                        .imgContainer{
                            width: 40px; 
                            height: 40px;
                            border-radius: 50%;
                            background-color: rgb(226, 120, 120);
                            display: flex;
                            align-content: center;
                            justify-content: center;
                            margin-top: 90px;
                            //margin-bottom: 20px;
                            @include mobile{
                                display: none;
                            }

                            img{
                                height: 25px;
                                align-content: center;
                                justify-content: center;
                                margin-top: 10px;
                                //color: white;

                            }

                        }

                        h2{
                            font-size: 20px;
                           // margin-top: 0px;
                            margin-top: -50px;
                            margin-bottom: -40px;

                            @include mobile{
                                font-size: 12px;
                                margin-top: 20px;
                            }
                        }
                        p{
                            font-size: 14px;
                            margin-top: -10px;
                            @include mobile{
                                font-size: 10px;
                                margin-top: 33px;
                            }
                        }

                        span{
                            font-size: 13px;
                            font-weight: 600;
                            text-decoration: underline;
                            cursor: pointer;
                            margin-bottom: 50px;
                            margin-top: -50px;
                            @include mobile{
                                font-size: 10px;
                                margin-top: 20px;
                                margin-bottom: 0;
                            }
                        }
                    }
                }
                .right{
                    flex: 9;
                    height: 100%;
                    display: flex;
                    align-content: center;
                    justify-content:center;
                    
                    // img{
                    //   // width: 400px; 
                    //   // transform: rotate(-10deg);
                    //   // overflow: hidden;
                    //   // overflow-x: hidden;
                    //   // overflow-y: hidden;
                    // }

                }
            }
        }
    }
}