.intro{
    background-color: white;
    display: flex;

    .left{

        background-color: white;
        flex: 0.5;
        //padding-left: 0px;
        overflow: hidden;

        .imgcontainer{
            width: 700px;
            height: 700px;
            margin-left: 100px;
            background-color: crimson;
            border-radius: 10% 67% 10% 50%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            float: right;
            margin-top: 10px;
            

            img{
                margin-top: 0px;
                width: auto;
                height: 700px;;
                padding-bottom: 0;
            }
        }
    }

    .right{
        background-color: white;
        flex: 0.5;
        margin-top: 10px;


    }
}